<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <!-- 遍历对象 -->
            遍历对象
            <li v-for="(v,k,i) in student">{{k}}--{{v}}--{{i}}</li>
            <!-- 遍历数组(最常见的item,index) -->
            遍历数组
            <li v-for="(v,k) in args">{{k}}--{{v}}</li>
            遍历对象数组
            <!-- 遍历对象数组 -->
            <li  v-for="student in students">
                <span v-for="(v,k,i) in student">{{k}}--{{v}}--{{i}}  </span>
            </li>
        </ul>

    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        var vue = new Vue({
            el: "#app",
            data: {
                args: [1, 2, 3, 4, 5, 6],
                student: {
                    name: "xiaoming",
                    age: 20
                },
                students: [
                    { name: "张三", age: 21 },
                    { name: "李四", age: 22 },
                    { name: "王五", age: 23 }
                ]

            }
        })
    </script>
</body>

</html>